{
	debug
}

{$SERVER_NAME:localhost} {
	mercure {
		# Publisher JWT key
		publisher_jwt {$MERCURE_PUBLISHER_JWT_KEY}
		# Subscriber JWT key
		subscriber_jwt {$MERCURE_SUBSCRIBER_JWT_KEY}
		# Enable the UI and expose demo endpoints
		demo
	}

	respond "Not Found" 404
}